@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";}
&nbsp;
&nbsp;
&nbsp;

<h3 class="heading">Customer Menu Interface</h3>

<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="navbarColor01">
    <ul class="nav navbar-nav navbar-link navbar-static-top">
        <li>@Html.ActionLink("Customer List", "Index", "CustomerHome", new { area = "Customers" }, null)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Farm Rosters", "Index", "CustomerRosterHome", new { area = "CustomerRosterItems" }, null)</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
</nav>

<div class="container body-content">

    @RenderBody()
    <hr />
</div>



