@{ ViewBag.Title = "Index";
    //    Layout = "~/Areas/Views/Shared/_CropHome.cshtml";}
    Layout = "~/Views/Shared/_Layout.cshtml";}

&nbsp;
&nbsp;
&nbsp;

<h3 class="heading">Menu</h3>

<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="navbarColor01">
    <ul class="nav navbar-nav navbar-link navbar-static-top">
        &nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("My Crops", "Index", "CropsHome", new { area = "Crops" }, new { @class = "btn btn-primary" })</li> &nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("My Plots", "Index", "PlotsHome", new { area = "Plots" }, new { @class = "btn btn-primary" })</li>&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Water Index", "Index", "WaterIndex", new { area = "WaterStatusIndex" }, new { @class = "btn btn-primary" })</li>&nbsp;&nbsp;&nbsp;
    </ul>
</nav>

<div class="container body-content">

    @RenderBody()
    <hr />
</div>

