@{ ViewBag.Title = "Index";
    //    Layout = "~/Areas/Views/Shared/_CropHome.cshtml";}
    Layout = "~/Views/Shared/_Layout.cshtml";}

&nbsp;
&nbsp;
&nbsp;

<h3 class="heading">Supply Interface</h3>

<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="navbarColor01">
    <ul class="nav navbar-nav navbar-link navbar-static-top">
        <li>@Html.ActionLink("Supply Home", "Index", "SUPPlies", new { area = "Supplies" })</li>
    </ul>
</nav>

<div class="container body-content">

    @RenderBody()
    <hr />
</div>
