<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.0.0" targetFramework="net472" />
  <package id="datatables.net" version="2.0.3" targetFramework="net472" />
  <package id="datatables.net-bs5" version="2.0.3" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="jQuery" version="1.7" targetFramework="net472" />
</packages>